
  
  <div class="cart-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef> Photo </th>
          <td mat-cell *matCellDef="let element" style="padding: 10px;">
            <img [src]="element.photo" alt="" style="width: 100px;">
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ProductName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element" > {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="Buybutton">
          <th mat-header-cell *matHeaderCellDef> Buy </th>
          <td mat-cell *matCellDef="let element"> 
            <section>
              <div class="example-button-row">
                <button mat-flat-button  style=" background-color: #3f51b5; color: white;" (click)="BuyNow(element.id)">Buy now</button>
              </div>
            </section>
            
          </td>
        </ng-container>
        <ng-container matColumnDef="DeleteButton">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> 
            <section>
              <div class="example-button-row">
              
                  <div class="example-button-container">
                    <button mat-fab aria-label="Example icon button with a delete icon" style=" background-color: #3f51b5;" (click)="DeleteItem(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                 
                
              </div>
            </section>
            
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>