<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="example-sidenav">
    <mat-nav-list>
      <!-- Add your navigation items here -->
      <div class="container">
        <mat-nav-list style="margin-bottom: 35px;margin-top: 15px;">
          <mat-list-item>
            <div class="smallcontainer">
              <mat-icon>dashboard</mat-icon>
              <span>Products</span>
             
            </div>
          </mat-list-item>
        </mat-nav-list>
        <mat-nav-list>
          <mat-list-item>
            <div class="smallcontainer" [routerLink]="['']">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </div>
          </mat-list-item>

          <mat-list-item [routerLink]="['/Cart']">
            <div class="smallcontainer">
              <mat-icon>shopping_cart</mat-icon>
              <span>Cart</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="smallcontainer">
              <mat-icon>favorite</mat-icon>
              <span>Favorite Items</span>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="smallcontainer">
              <mat-icon>person</mat-icon>
              <span>Person</span>
            </div>
          </mat-list-item>

          <div class="content">
            <mat-list-item>
              <div class="smallcontainer">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="smallcontainer">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
              </div>
            </mat-list-item>
          </div>
          
        </mat-nav-list>
      </div>
    </mat-nav-list>
    <!-- <button mat-button (click)="sidenav.toggle()">Close Sidebar</button> -->
  </mat-sidenav>


  
  <!-- Main content with toolbar -->
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z3">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="" style="cursor: pointer;">Sportify</span>
      <span class="example-spacer"></span>
    
        <!-- <span>Products</span> -->
         
       
        <button mat-button routerLink="products">
          
          <mat-icon>category  </mat-icon>
          <span>Products</span>
          
        </button>
        <mat-icon [matBadge]="totalQuantity">favorite</mat-icon>
       
      <button mat-icon-button routerLink="Cart">
        <mat-icon [matBadge]="totalQuantity" matBadgeOverlap="false" class="demo-section"  routerLink="Cart" >shopping_cart</mat-icon>
      </button>

      <button  mat-button [matMenuTriggerFor]="menu" ><mat-icon>person</mat-icon></button>
      <mat-menu #menu="matMenu">

        <button  mat-menu-item [routerLink]="['/auth/login']" >Login</button>
        <button  mat-menu-item  [routerLink]="['/auth/register']">Register</button>


      </mat-menu>
              <!-- <mat-icon>favorite</mat-icon> -->
     
     
    </mat-toolbar>
<app-slider></app-slider>

    <!-- Main page content -->
<div class="container">
  <h1>Latest Products</h1>
  <app-product [Produkti]="latestproduct" ></app-product>

</div>

  <hr>


<div class="content2">
  <h2>About Us</h2>
<div class="inner-content">
  <img src="https://media.licdn.com/dms/image/C4D12AQE7_sVP5NvXoA/article-cover_image-shrink_720_1280/0/1520110596092?e=2147483647&v=beta&t=t8T7f7Eom1ZZbXf7Och_RKlmh4z_icPvf0-M0RQsr14" alt="">
  <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus praesentium sit ducimus possimus, necessitatibus quisquam officia quasi cumque quam blanditiis! Dolorum dolor sapiente consequatur? Dignissimos natus consequatur sint consequuntur quo.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum temporibus tempora architecto, reprehenderit voluptas totam quas quibusdam unde sunt natus neque atque deleniti illo ducimus necessitatibus nostrum quos velit cum.</p>

</div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
  
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            infoexample.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Include Bootstrap JS here -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
